<div class='container-fluid' style='text-align:center'><br>

	<h1>Sign up for Newsletters</h1>
	<h4>Sign up to receive newsletters information about our new menu, events, healthy food and more ...</h4><br>

	<form name='signupForm' style='width:350px;text-align:center;margin:0 auto' novalidate>

	<input ng-model='signupctrl.firstname' type='text' class='form-control' name='firstname' placeholder='First Name' required></input><br>
	<input ng-model='signupctrl.lastname' type='text' class='form-control' name='lastname' placeholder='Last Name' required></input><br>
	<input ng-model='signupctrl.email' type='email' class='form-control' name='email' placeholder='Email' required></input><br>
	<input ng-model='signupctrl.phone' type='text' class='form-control' name='phone' placeholder='Phone' required></input><br>
	<input ng-model='signupctrl.short_name' type='text' class='form-control' name='short_name' placeholder='Favorite Dish short name (Optional)'></input><br>
	<button ng-click="signupctrl.submit()" class='btn btn-warning' name='signup' style='width: 100px;color:#000;font-size:16px'>Sign up</button>
	</form>
<br><br><div><h4> {{signupctrl.errordiv}} </h4></div>
<br>
</div>
